---
import type { TechnicalSkill } from "../../gql/request";
import TechStack from "./TechStack.astro";
interface Props {
	techStacks: TechnicalSkill[];
}

const { techStacks } = Astro.props;
---

<div class="tech-stack">
    { techStacks.map(tech => (
            <div>
                <TechStack techStack={ tech } />
            </div>
    ))}
</div>

<style>
    .tech-stack {
        display: grid;
        width: 100%;
        grid-gap: 1em;
        grid-template-columns: 1fr;
    }

    :global(.desktop) .tech-stack {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    :global(.mobile) .tech-stack {
        grid-template-columns: 1fr;
    }
</style>