---
import type { ContactInfo, ContactType } from "../../gql/request";
import { DETAILS, type DetailNameType } from "../../static/static";
import DetailLogo from "./DetailLogo.astro";

interface Props {
	contactInformation: ContactInfo[];
}

const { contactInformation } = Astro.props;

export type DetailContentNameType = ContactType | DetailNameType | "Dev.to";

export type DetailContentTypes = {
	name: DetailContentNameType;
	link: string;
};

const details: DetailContentTypes[] = [
	...DETAILS.map((detail) => ({ name: detail.name, link: detail.link })),
	...contactInformation.map((info) => ({ name: info.type, link: info.url })),
	{ name: "Dev.to", link: "https://dev.to/hirohata" },
];
---

<section class="details">
    { details.map(detail =>
        <a class="detail" href={detail.link} target="_blank">
            <DetailLogo name={ detail.name } />
            <p>{detail.name}</p>
        </a>
    ) }
</section>

<style>
   .details {
       display: flex;
       align-items: center;
       justify-content: space-evenly;
   }

   .detail {
       display: flex;
       align-items: center;
       justify-content: space-between;
       flex-direction: column;
   }

   a {
       text-decoration: none;
   }

   :global(.desktop) p {
       font-size: 0.9rem;
       margin-top: 0.3rem;
   }

   :global(.mobile) .details {
       flex-direction: column;
       justify-content: center;
   }

   :global(.mobile) .detail {
       display: grid;
       grid-template-columns: 1fr 1fr;
       width: 100%;
       margin: 5px 0;
       justify-content: center;
   }
</style>