---
import {TechnicalSkill} from "../../gql/request";
import ElementWrapper from "../ElementWrapper.astro";
import ElementCustomWrapper from "../ElementCustomWrapper.astro";
interface Props {
    skill: TechnicalSkill
}

const { skill } = Astro.props;
---

<div>
    <ElementCustomWrapper tag="section" tagName="category" content={skill.category} >
        <p class="category">{skill.category}</p>
    </ElementCustomWrapper>
    <div class="skill-stacks">
        { skill.stacks.map(stack => <p>{stack}</p>) }
    </div>
</div>
<style>
    .category {
        font-weight: bold;
    }
    .skill-stacks {
        display: flex;
        margin-left: 20px;
    }
    .skill-stacks p {
        padding-right: 10px;
        background-color: floralwhite;
        border-radius: 25%;
    }
</style>
