---
import Header from "../components/Header.astro";
import Overview from "../components/Overview.astro";
import { fetchResume } from "../external/fetch";
import Layout from "../layouts/Layout.astro";
import TagWrapperLayout from "../layouts/TagWrapperLayout.astro";
import Skills from "../components/Skills.astro";

const myResume = await fetchResume();
---

<Layout>
	<main>
		<TagWrapperLayout tag="Breaf Introduction">
			<Header basics={ myResume.basics } />
		</TagWrapperLayout>
		<TagWrapperLayout tag="skills">
			<Skills skills={ myResume.technicalSkills } />
		</TagWrapperLayout>
		<TagWrapperLayout tag="Overview">
			<Overview />
		</TagWrapperLayout>
		<TagWrapperLayout tag="projects">

		</TagWrapperLayout>
		<TagWrapperLayout tag="education">

		</TagWrapperLayout>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 900px;
		max-width: calc(100% - 2rem);
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>
