---
import Footer from "../components/Footer.astro";
import NameSection from "../components/NameSection.astro";
import Overview from "../components/Overview.astro";
import Detail from "../components/detail/Detail.astro";
import Header from "../components/header/Header.astro";
import Projects from "../components/projects/Projects.astro";
import TechStacks from "../components/techStacks/TechStacks.astro";
import Section from "../components/utils/Section.astro";
import { fetchResume } from "../external/fetch";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";

const myResume = await fetchResume();
---

<Layout>
	<main>
		<Header basics={ myResume.basics } />
		<div class="contents">
			<NameSection basics={ myResume.basics } />
			<Section title="Overview" />
			<Overview overview={ myResume.overview } />
			<Section title="More Detail" />
			<Detail contactInformation={ myResume.allContactInformation } />
			<Section title="Projects" />
			<Projects projects={ myResume.projects } />
			<Section title="Tech Stacks" />
			<TechStacks techStacks={ myResume.technicalSkills } />
		</div>
		<Footer basics={ myResume.basics } />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.contents {
		width: 70%;
		margin: 50px auto;
	}
</style>

