---
import NameSection from "../components/NameSection.astro";
import Overview from "../components/Overview.astro";
import Detail from "../components/detail/Detail.astro";
import Header from "../components/header/Header.astro";
import ContactInformation from "../components/v1/ContactInformation.astro";
import Projects from "../components/v1/Projects.astro";
import Skills from "../components/v1/Skills.astro";
import { fetchResume } from "../external/fetch";
import Layout from "../layouts/Layout.astro";
import TagWrapperLayout from "../layouts/v1/TagWrapperLayout.astro";
import "../styles/global.css";
import Section from "../components/utils/Section.astro";

const myResume = await fetchResume();
---

<Layout>
	<!--<AppBarLayout>-->
		<main>
			<Header basics={ myResume.basics } />
			<div class="contents">
				<NameSection basics={ myResume.basics } />
				<Section title="Overview" />
				<Overview overview={ myResume.overview } />
				<Section title="More Detail" />
				<Detail />
			<!--<TagWrapperLayout tag="Contact Information">-->
			<!--	<ContactInformation contactInfo={ myResume.allContactInformation } />-->
			<!--</TagWrapperLayout>-->
			<!--<TagWrapperLayout tag="Detail">-->
			<!--	<Detail />-->
			<!--</TagWrapperLayout>-->
			<!--<TagWrapperLayout tag="Skills">-->
			<!--	<Skills skills={ myResume.technicalSkills } />-->
			<!--</TagWrapperLayout>-->
			<!--<TagWrapperLayout tag="Projects">-->
			<!--	<Projects projects={ myResume.projects } />-->
			<!--</TagWrapperLayout>-->
			</div>
		</main>
	<!--</AppBarLayout>-->
</Layout>

<style>
	main {
		margin: auto auto 100px auto;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.contents {
		width: 70%;
		margin: auto;
	}
</style>

