---
import ContactInformation from "../components/ContactInformation.astro";
import Detail from "../components/Detail.astro";
import NameSection from "../components/NameSection.astro";
import Overview from "../components/Overview.astro";
import Projects from "../components/Projects.astro";
import Skills from "../components/Skills.astro";
import Header from "../components/header/Header.astro";
import { fetchResume } from "../external/fetch";
import Layout from "../layouts/Layout.astro";
import TagWrapperLayout from "../layouts/TagWrapperLayout.astro";
import "../styles/global.css";

const myResume = await fetchResume();
---

<Layout>
	<!--<AppBarLayout>-->
		<main>
			<Header basics={ myResume.basics } />
			<!--<NameSection basics={ myResume.basics } />-->
			<!--<TagWrapperLayout tag="Overview">-->
			<!--	<Overview />-->
			<!--</TagWrapperLayout>-->
			<!--<TagWrapperLayout tag="Contact Information">-->
			<!--	<ContactInformation contactInfo={ myResume.allContactInformation } />-->
			<!--</TagWrapperLayout>-->
			<!--<TagWrapperLayout tag="Detail">-->
			<!--	<Detail />-->
			<!--</TagWrapperLayout>-->
			<!--<TagWrapperLayout tag="Skills">-->
			<!--	<Skills skills={ myResume.technicalSkills } />-->
			<!--</TagWrapperLayout>-->
			<!--<TagWrapperLayout tag="Projects">-->
			<!--	<Projects projects={ myResume.projects } />-->
			<!--</TagWrapperLayout>-->
		</main>
	<!--</AppBarLayout>-->
</Layout>

<style>
	main {
		margin: auto;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>
