---
import type { Basics } from "../../gql/request";
import ToggleButton from "./headerComponents/ToggleButton.astro";

interface Props {
	basics: Omit<Basics, "phone">;
	navLinks: { link: string; name: string }[];
}

const { firstName, lastName, title } = Astro.props.basics;
const { navLinks } = Astro.props;
---
<div class="wrapper">
    <div class="name-grid">
        <p class="name">{`${firstName} ${lastName} - ${title}`}</p>
    </div>
    <div class="nav-grid">
        {navLinks.map(navLink => (
                <a href={ navLink.link }>{ navLink.name }</a>
        ))}
    </div>
    <div class="toggle-button-grid">
        <ToggleButton />
    </div>
</div>


<style>
    .name {
        font-size: 20px;
        font-style: italic;
        font-family: cursive;
    }
    .wrapper {
        display: flex;
        padding: 20px 10px 20px 10px;
        justify-content: flex-start;
        align-items: center;
    }
    .nav-grid {
        display: flex;
        margin-right: auto;
        margin-left: auto;
    }
    .nav-grid > a {
        padding: 0 5px 0 5px;
    }
    .toggle-button-grid {
        justify-self: flex-end;
        margin-left: auto;
    }

</style>
