.desktop {
    display: block;
}

.wrapper {
    padding: 20px 10px 20px 10px;
}

.mobile {
    display: none;
}
@media screen and (max-width: 768px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
    .wrapper[class~="mobile"] {
        padding: 5px 5px 5px 5px;
    }
}