---
import "./Header.css";
import type { Basics } from "../../gql/request";
import ToggleButton from "./headerComponents/ToggleButton.astro";

interface Props {
	basics: Omit<Basics, "phone">;
}

const { firstName, lastName, title } = Astro.props.basics;

const navLinks = [
	{
		link: "",
		name: "Resume",
	},
	{
		link: "",
		name: "REST API",
	},
	{
		link: "",
		name: "GraphQL",
	},
];
---

<section class="header">
    <div class="wrapper">
        <div class="name-grid">
            <p class="desktop name">{`${firstName} ${lastName} - ${title}`}</p>
            <p class="mobile name">{`${firstName}`}</p>
        </div>
        <div class="nav-grid desktop">
            <div class="nav">
                {navLinks.map(navLink => (
                        <a href={ navLink.link }>{ navLink.name }</a>
                ))}
            </div>
        </div>
        <div class="toggle-button-grid">
            <ToggleButton />
        </div>
    </div>
</section>

<style>
    .header {
        position: sticky;
        width: 100%;
        top: 0;
        background-color: #fff;
        border-bottom: solid;
    }
    :global(.dark) .header {
        background-color: #000;
    }
    .wrapper {
        width: 95%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .name {
        font-size: 20px;
        font-style: italic;
        font-family: cursive;
        margin: 0;
    }
    .nav-grid {
        margin-right: auto;
        margin-left: auto;
    }
    .nav {
        display: flex;
    }
    .nav-grid > a {
        padding: 0 5px 0 5px;
    }
    .toggle-button-grid {
        display: flex;
        justify-self: flex-end;
        margin-left: auto;
    }
</style>