---
import type { Basics } from "../../gql/request";
import ToggleButton from "./headerComponents/ToggleButton.astro";
interface Props {
	basics: Omit<Basics, "phone">;
}

const { firstName } = Astro.props.basics;
---
<div class="wrapper">
        <p class="name">{ firstName }</p>
        <ToggleButton />
</div>

<script></script>

<style>
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 5px 5px 5px;
    }
    .name {
        font-size: 25px;
        font-style: italic;
        font-family: cursive;
        margin: 0;
    }
</style>
