---

---
<div class="details">
    <p><a href="#">Resume</a></p>
    <p><a href="https://rest-api.honwakapappa-honwakapappa.workers.dev/docs">REST API</a></p>
    <p><a href="https://graphql.honwakapappa-honwakapappa.workers.dev/graphql">GraphQL</a></p>
</div>
<style>
    .details {
        display: flex;
        justify-content: space-between;
        padding: 0 40px;
    }
</style>