---
import ElementWrapper from "./ElementWrapper.astro";
import "../styles/components/header.css";
import type { Basics } from "../gql/request";

interface Props {
    basics: Basics
}

const { firstName, lastName, title, location } = Astro.props.basics;
---

<header class="header">
    <ElementWrapper tag="h1" content=`Hi, I am ${firstName} ${lastName}` />
    <div class="responsive">
        <ElementWrapper tag="p" content="who know responsive design" class="description" />
    </div>
    <ElementWrapper tag="p" content=`I am a ${title} living in ${location}` class="description" />
</header>

<style>
    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
</style>