---
import ToggleButton from "./header/ToggleButton.astro";
import type {Basics} from "../gql/request";

interface Props {
    basics: Omit<Basics, "phone">;
}

const { firstName, lastName, title } = Astro.props.basics;
---

<section class="header">
    <p>{`${firstName} ${lastName} - ${title}`}</p>
    <ToggleButton />
</section>

<style>
    .header {
        position: sticky;
        top: 0;
        background-color: #fff;
    }
    :global(.dark) .header {
        background-color: #000;
    }
</style>
