---
interface Props {
    overview: string;
}

const { overview} = Astro.props;
---

<section>
    <div id="overview-content">
        { overview }
    </div>
</section>

<style>
    #overview-content{
        font-size: 16px;
    }
</style>
