---
import { GQL_API_URL, REST_API_URL } from "../../static/static";
---
<div class="details">
    <p><a href="https://resume-2dm.pages.dev/pdf/TaroHirohata.pdf">Resume</a></p>
    <p><a href={ REST_API_URL }>REST API</a></p>
    <p><a href={ GQL_API_URL }>GraphQL</a></p>
</div>
<style>
    .details {
        display: flex;
        justify-content: space-evenly;
        padding: 0 40px;
    }
</style>