---
import Header from "../components/Header.astro";
import { fetchResume } from "../external/fetch"
const myResume = await fetchResume();
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Taro Hirohata</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style>
	html {
	  font-family: system-ui, sans-serif;
	  background-size: 224px;
	  background: white;
	  color: black;
	}
	body {
		margin: 0;
	}
	html.dark {
		background: black;
		color: white;
	}
</style>