---
---

<!doctype html>
<html lang="en" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="icon" type="iamge/png" sizes="16x16" href="/favicon-.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Taro Hirohata</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style>
	html {
	  font-family: system-ui, sans-serif;
	  background-size: 224px;
	  background: white;
	  color: black;
	}
	body {
		margin: 0;
	}
	html.dark {
		background: black;
		color: white;
	}
</style>
<script is:inline lang="ts">
	const updateSize = () => {
		const element = document.documentElement;
		if (window.innerWidth <= 600) {
			element.classList.add('mobile');
			element.classList.remove('desktop');
		} else {
			element.classList.add('desktop');
			element.classList.remove('mobile');
		}
	}
	window.addEventListener('resize', () => {
		updateSize();
	})

	if (!(document.documentElement.classList.contains('mobile') || document.documentElement.classList.contains('desktop'))) {
		updateSize();
	}
</script>